HIVEMQ_CLUSTER_IDENTIFIER=<app_name>
HIVEMQ_CLUSTER_URL=wss://<cluster_url>/mqtt
HIVEMQ_CLUSTER_PORT=<cluster_port>
HIVEMQ_CLUSTER_USERNAME=<cluster_creds_username>
HIVEMQ_CLUSTER_PASSWORD=<cluster_creds_password>
SUPABASE_URL=https://<supabase_url>
SUPABASE_ANONKEY=<supabase_anon_key>
DOMAIN_URL=https://<cloudflare_workers_url>